body {
	height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(2.jpg);
	background-size: cover;
}

}
* {
	margin: 0;
	padding: 0;
	font-family: century Gothic;

}

ul {
	list-style-type: none;
	float: right;
	margin-top: 25px;
}
ul li {
	display: inline-block;
}
ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.5s ease;

}
ul li a:hover {
	background-color: white;
	color: #000;
}

.Title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.Title H1 {
	color: #fff;
	font-size: 70px;
	text-shadow: brown;
}
.button {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn {
	border: 1px solid #fff;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	transition: ease-out 0.4s;
}

.btn:hover {
	background-color: white;
	color: #000
}
ul li.Active a {
	background-color: white;
	color: #000
}

.logo img {
	float: left;
	width: 150px;
	height: auto;
}
.main {
	max-width: 1200px;
	margin: auto;
}